<ul class="footer-nav">
  <li><a href="https://sitehost.nz">SiteHost</a> / </li>
  <li><a href="https://sitehost.nz/hosting/cloud-containers">Products</a> / </li>
  <li><a href="https://cp.sitehost.co.nz/auth/login/">Control Panel</a> / </li>
  <li><a href="http://kb.sitehost.co.nz">Knowledge Base</a> / </li>
  <li><a href="http://www.sitehost-status.net">Network Status</a></li>
</ul>