
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="http://sth.nz/favicon.png" />
<title>Site-Host -> Hire me!</title>
<style>
  html {
    padding: 0 5%;
  }

  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    margin: 5vh auto 0 auto;
    max-width: 720px;
  }
  main{
    margin-bottom: 10vh;
  }
  a {
    color: #159ADF;
  }

  .logo {
    display: block;
    margin-bottom: 30px;
    width: 200px;
  }

  .logo img {
    width: 200px;
  }

  form input, select {
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 0;
    outline: 0;
    padding: 4px 8px;
    transition: border linear .2s,box-shadow linear .2s;

  }

  form input[type="text"]:hover, select:hover {
    border: 1px solid #888;
  }

  form input[type="text"]:focus {
    border-color: rgba(82,168,236,.8);
    border-width: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
  }
  
  form input[type="submit"]{
    background: 0 0;
    border-color: #0889C5;
    border-radius: 4px;
    border-width: 2px;
    box-shadow: none;
    color: #1B2429;
    font-weight: 400;
    letter-spacing: .02em;
    padding: 8px 16px;
    text-shadow: none;
    transition: all .2s ease-in-out;
  }

  form input[type="submit"]:hover{
    background-color: #0889C5;
    color: #fff;
  }

  .last {
    padding-bottom: 20px;
  }

  .footer-nav {
    background: white;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    color: #e0e0e0;
    font-size: 14px;
    left: 0;
    margin: 0 5%;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    width: 90%;
  }

  .footer-nav li {
    display: inline;
    list-style: none;
  }

  .footer-nav a {
    color: #b3b3b3;
    display: inline-block;
    margin: 0 8px 0 8px;
  }

  .footer-nav li:first-child a {
    margin-left: 0;
  }
</style>
