<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <h2>Something went wrong</h2>
    <p><strong><%= error.message %></strong></p>
    <p>If you want to read the documentation here is a helpfull link: <a href="https://kb.sitehost.nz/dns">DNS Management</a></p>
    <a href="/">Next</a>
  </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>